.light {
    background: '#ffffff';
    color: '#000000';
}
  
font-face1 {
    font-family: 'GillSansUltraBold';
    src: url('gill-sans-ultra-bold.ttf') format('truetype');
  }

body1 {
    font-family: 'GillSansUltraBold', sans-serif;
}

right-align {
    margin-left: auto;
    display: flex;
    align-items: center;
  }